<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heart Disease Predictor</title>
    <!-- awesome icon link -->
    <script src="https://kit.fontawesome.com/32d14e66b4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="header-menu">
                <div class="heart">
                    <a href="/" class="home-link">Home</a>
                </div>
                <nav class="header-nav-menu">
                    <ul class="nav-list">
                        <li class="nav-link-item">
                            <a href="/#doc">Get Started</a>
                        </li>
                        <li class="nav-link-item">
                            <a href="/predict">Predictor</a>
                        </li>
                        <li class="nav-link-item">
                            <a href="/#faq">FAQs</a>
                        </li>
                    </ul>
                </nav>
                <picture class="menu-icon">
                    <i id="menu" class="fa-solid fa-bars"></i>
                </picture>
            </div>
        </header>
        <!--         main section-->
        <main class="main">
            <section id="predict" class="form-container">
                <div class="text feature-text">
                    <h2 class="title">Predict</h2>
                    <p class="subtitle">input your required details.</p>
                </div>
                <form action="{{ url_for('predict')}}" method="post">
                    <div class="form-input">
                        <label for="age" class="form-input-label">Age</label>
                        <input type="text" id="age" name="age" placeholder="Age of Person" required="required" />
                    </div>
                    <div class="form-input">
                        <label for="sex" class="form-input-label">Gender</label>
                        <input type="text" id="sex" name="sex" placeholder="Gender of Person" required="required" />
                    </div>
                    <div class="form-input">
                        <label for="cp" class="form-input-label">Chest Pain Type</label>
                        <input type="text" id="cp" name="cp" placeholder="Chest Pain Type" required="required" />
                    </div>
                    <div class="form-input">
                        <label for="testbps" class="form-input-label">Resting Blood Pressure</label>
                        <input type="text" id="testbps" name="testbps" placeholder="Resting Blood Pressure" required="required" />
                    </div>
                    <div class="form-input">
                        <label for="chol" class="form-input-label">Cholestrol Level</label>
                        <input type="text" id="chol" name="chol" placeholder="Cholestrol Level" required="required" />
                    </div>
                    <div class="form-input">
                        <label for="fbs" class="form-input-label">Fasting Blood Pressure</label>
                        <input type="text" id="fbs" name="fbs" placeholder="Fasting Blood Pressure" required="required" />
                    </div>
                    <div class="form-input">
                        <label for="restecg" class="form-input-label">Restecg</label>
                        <input type="text" id="restecg" name="restecg" placeholder="Resting Electro Cardio Graphic Result" required="required" />
                    </div>
                    <div class="form-input">
                        <label for="thalach" class="form-input-label">Maximum Heart Rate</label>
                        <input type="text" id="thalach" name="thalach" placeholder="Maximum Heart Rate" required="required" />
                    </div>
                    <div class="form-input">
                        <label for="exang" class="form-input-label">Exercise Induced Angina</label>
                        <input type="text" id="exang" name="exang" placeholder="Exercise Induced Angina" required="required" />
                    </div>
                    <div class="form-input">
                        <label for="oldpeak" class="form-input-label">Oldpeak</label>
                        <input type="text" id="oldpeak" name="oldpeak" placeholder="Oldpeak" required="required" />
                    </div>
                    <div class="form-input">
                        <label for="slope" class="form-input-label">Slope</label>
                        <input type="text" id="slope" name="slope" placeholder="Slope of the peak exercise ST segment" required="required" />
                    </div>
                    <div class="form-input">
                        <label for="ca" class="form-input-label">Number of Major Vessels</label>
                        <input type="text" id="ca" name="ca" placeholder="Number of Major Vessels colored by Flourosopy" required="required" />
                    </div>
                    <div class="form-input">
                        <label for="thal" class="form-input-label">Thal</label>
                        <input type="text" id="thal" name="thal" placeholder="thal" required="required" />
                    </div>
                    <button type="submit" class="result-btn btn hero-btn btn-blue">
                        Predict
                    </button>
                </form>
            </section>
        </main>
        <footer class="footer">
            <div class="footer-menu">
                <div class="heart">
                    <a href="/" class="home-link footer-logo">Home</a>
                </div>
                <nav class="footer-nav">
                    <ul class="footer-nav-list">
                        <li class="footer-link-item">
                            <a href="#doc">Get Started</a>
                        </li>
                        <li class="footer-link-item">
                            <a href="#predict">Predictor</a>
                        </li>
                        <li class="footer-link-item">
                            <a href="#faq">Faq</a>
                        </li>
                    </ul>
                    <ul class="footer-social-list">
                        <li class="footer-social-item">
                            <i class="fa-brands fa-facebook"></i>
                        </li>
                        <li class="footer-social-item">
                            <i class="fa-brands fa-twitter"></i>
                        </li>
                    </ul>
                </nav>
            </div>
            <p class="attribution">
                Designed & Developed by
                <a href="https://www.frontendmentor.io/profile/chandan9369">Chandan Keshari</a>.
            </p>
        </footer>
        <div class="active-menu">
            <div class="menu-header">
                <div class="menu-nav">
                    <div class="heart">
                        <a href="/" class="home-link footer-logo">Home</a>
                    </div>
                    <i id="close" class="fa-solid fa-xmark"></i>
                </div>
                <nav class="nav-header">
                    <ul class="list">
                        <li class="link-item">
                            <a href="/predict">Predictor</a>
                        </li>
                        <li class="link-item">
                            <a href="/#doc">Get Started</a>
                        </li>
                        <li class="link-item">
                            <a href="/#faq">Faq</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
<script src="/static/script.js"></script>

</html>